<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
    <!-- wp:pattern {"slug":"frontis/banner-dodger-blue"} /-->
    <!-- wp:pattern {"slug":"frontis/about-dodger-blue"} /-->
    <!-- wp:pattern {"slug":"frontis/counter-dodger-blue"} /-->
    <!-- wp:pattern {"slug":"frontis/service-dodger-blue"} /-->
    <!-- wp:pattern {"slug":"frontis/brands-logo-dodger-blue"} /-->
    <!-- wp:pattern {"slug":"frontis/testimonials-dodger-blue"} /-->
    <!-- wp:pattern {"slug":"frontis/faq-dodger-blue"} /-->
    <!-- wp:pattern {"slug":"frontis/blog-post-dodger-blue"} /-->
    <!-- wp:pattern {"slug":"frontis/cta-dodger-blue"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->